<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome David</p>
    <p>Welcome from azure devops</p>
    <p>Welcome from staging server sayler</p>
  </body>
</html>
