<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome David</p>
    <p>deployment from Azure pipelines v3</p>
    <p>build trigger deploy qa env, testing and prod deployment</p>
  </body>
</html>
